/*
* @Author: lle_wang
* @Date:   2018-04-19 21:36:33
* @Last Modified by:   lle_wang
* @Last Modified time: 2018-04-23 18:03:09
*/
/*
* @Author: lle_wang
* @Date:   2018-04-19 18:41:06
* @Last Modified by:   lle_wang
* @Last Modified time: 2018-04-19 18:44:34
*/
.content {
  width: 100%;
}

.content {
  height: auto;
}

.content {
  padding-top: 60px;
  padding-left: 21%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.content .title {
  font-size: 2.4rem;
  padding: 15px 20px;
  letter-spacing: 1px;
  margin-bottom: 0;
}
