/*
* @Author: lle_wang
* @Date:   2018-04-29 17:38:50
* @Last Modified by:   lle_wang
* @Last Modified time: 2018-04-29 19:24:21
*/
/*
* @Author: lle_wang
* @Date:   2018-04-19 18:41:06
* @Last Modified by:   lle_wang
* @Last Modified time: 2018-04-19 18:44:34
*/
.order-detail .table .item-img img, .order-detail, .order-detail .item {
  width: 100%;
}

.order-detail .table .item-img img {
  height: 100%;
}

.order-detail, .order-detail .item {
  height: auto;
}

.content .title {
  text-align: center;
  margin-bottom: 10px;
}

.order-detail span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.order-detail .item {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.order-detail .item .item-title {
  font-size: 1.15rem;
  width: 14%;
  text-align: right;
  margin-right: 10px;
  letter-spacing: 1px;
}
.order-detail .item .txt {
  width: 20%;
  background: #fff;
  line-height: 32px;
  padding-left: 6px;
}
.order-detail .table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 30px;
  width: 96%;
  margin-left: 2%;
  height: auto;
}
.order-detail .table .item-img {
  width: 10%;
  height: 100px;
  padding: 10px;
}
